#headerr{
    
    flex-direction: column;
}
.navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
#home{
    height: 370px; 
    padding: 3px 28px;
}

#home::before{
    height: 480px; 
}

#home h3{
    font-size: 13px;
}
.comcat{
    flex-direction: column;

}
.category{
    margin-bottom: 20px;
}
#contactus{
    width:100%;
}
#contactus .form-grp{
    width:100px;
    margin: 0px 0px;
}
 

.heading{
    font-size:26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
